#share_bar{width:100%;position:relative;z-index:99;text-align:right;background:#F9F9F9;border-bottom:1px solid #F2F2F2;}

#onekey_share{height:30px;line-height:30px;}
#onekey_share p a{color:#8CA6D7;}
.share_btns{color:#666;font-size:12px;margin-right:50px;font-family:Tahoma,sans-serif;display:inline;}
* html .share_btns{ position:relative; top:7px; zoom:1;}
.share_btns a{margin-right:5px;text-decoration:none; *margin-right:10px;}
.share_btns a i{display:inline-block;width:16px;height:16px;margin-right:2px;background-image:url(http://st.xiami.com/res/img/default/share_icon_v19.gif);background-repeat:no-repeat;vertical-align:middle;}
.share_btns a.rr i{background-position:-199px 0;}
.share_btns a.xl i{background-position:-32px 0;}
.share_btns a.qq i{background-position:-95px 0;}
.share_btns a.qqt i{background-position:-359px 0;}
.share_btns a.kx i{background-position:-164px 0;}
.share_btns a.msn i{background-position:-455px 0;}
.share_btns a.douban i{ background-position:-230px 0;}
.share_btns a.wuyao i{background-position:-487px 0;}
.share_btns a.huaban i{background-position:-519px 0;}
.share_btns a.wangyi i{background-position: -327px 0;}
.share_btns a.sohu i{background-position:-391px 0;}
.share_btns a.netease i{background-position:-327px 0;}

.shareIt{overflow:hidden;*zoom:1;}
.shareIt p input#shareurl{background:#f8f8f8; border:1px #d9d9d9 solid; color:#777; padding:3px; width:300px;}
.shareIt ul li{ float:left; margin:10px 12px 5px 5px; color:#999; font-size:12px;}
.shareIt ul li a{ width:16px; height:16px; display:block; overflow:hidden; text-indent:9999em; vertical-align:middle;background:url(http://st.xiami.com/res/img/default/share_icon_v19.gif) no-repeat;}
.shareIt ul li.to_twitter a{background-position:0 0;}
.shareIt ul li.to_sina a{background-position:-32px 0;}
.shareIt ul li.to_delicious a{background-position:-64px 0;}
.shareIt ul li.to_qqsq a{background-position:-95px 0;}
.shareIt ul li.to_baidu a{background-position:-130px 0;}
.shareIt ul li.to_xiaonei a{background-position:-199px 0;}
.shareIt ul li.to_kaixin a{background-position:-164px 0;}
.shareIt ul li.to_douban a{background-position:-230px 0;}
.shareIt ul li.to_myspace a{background-position:-263px 0;}
.shareIt ul li.to_fb a{background-position:-295px 0;}
.shareIt ul li.to_163 a{background-position:-327px 0;}
.shareIt ul li.to_qqt a{background-position:-359px 0;}
.shareIt ul li.to_sohu a{background-position:-391px 0;}
.shareIt ul li.to_qitan a{background-position:-423px 0;}
.shareIt ul li.to_msn a.msn{background-position: -455px 0;}

#more_btn{right:10px;top:0;position:absolute;background:none;padding:0;z-index:5;padding-left:0!important;a:expression(this.onFocus=this.blur());color:#8CA6D7;}
#full_share{position:absolute;display:none;background:#F9F9F9;border-bottom:1px solid #F2F2F2;top:0;padding:5px;right:0;width:435px;text-align:left;}
.shareIt p{line-height:14px;font-size:12px; color:#666;text-align:left;display:inline;}
.shareIt p label{padding:3px 5px 0 3px;_padding:5px 3px 0 3px;display:inline;margin:0;}
.share_by_widget{margin-left:5px;float:left;display:block;}